* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: black;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: white;
  letter-spacing: 0.5rem;
  opacity: 0;
  transform: translateY(30px);
  transition: 1.3s ease-in-out;
}

.hero-text.show {
  opacity: 1;
  transform: translateY(0);
}
